body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 1.8vw;
  font-weight: 300;
  line-height: 4rem;
  word-wrap: break-word;
  color: rgb(108, 118, 160);
  background-color: #000012;
}
