.wrapper {
  box-sizing: border-box;
  display: flex;
  min-width: 80vw;
  max-width: 80vw;
  padding: 0;
  margin: 4% auto;
  border-radius: 16px;
  box-shadow: 0 0 24px #027BCE;
}
.wrapper .content {
  margin: 0;
  padding: 2%;
}
.wrapper .person__name {
  margin: 8% 2% 0 14%;
  font-size: 5rem;
}
.cv__category-title {
  margin: 4% 2% 0 14%;
  font-size: 3rem;
}
.person__target {
  font-size: 1rem;
}
.person__clickable-icons {
  display: flex;
  justify-content: space-between;
  min-height: 7vh;
  padding: 0;
}
.person__clickable-icons__left-block {
  display: flex;
  min-height: 6vh;
  /* border: 2px solid magenta; */
  /* background-color: #027BCE; */
}
.person__clickable-icons__left-block .clickable-icon a i img:nth-child(1) {
  display: block;
  min-height: 4vh;
  max-height: 4.5vh;
}
.person__clickable-icons__left-block .clickable-icon a i img:nth-child(3) {
  display: block;
  min-height: 5vh;
  max-height: 5.5vh;
}
.person__clickable-icons__right-block {
  display: flex;
  justify-content: end;
  min-height: 6vh;
  /* border: 2px solid red; */
  /* background-color: #027BCE; */
}
.person__clickable-icons__right-block__left-bottom {
  display: flex;
  justify-content: center;
}
.person__clickable-icons__right-block__right-top {
  display: flex;
  justify-content: center;
}
.clickable-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  min-width: 5.6vh;
  /* border: 2px solid whitesmoke; */
}
.clickable-icon .phone-number {
  font-size: 3.5vh;
  padding-right: 0.4vw;
}
.clickable-icon a i img {
  display: block;
  min-height: 2vh;
  max-height: 4vh;
}
.cv__category-string {
  margin: 2%;
  padding: 0;
  font-size: 2rem;
}
.person__education-string {
  margin: 2%;
  padding: 0;
  /* font-size: 2rem; */
}
.person__language-string {
  margin: 2%;
  padding: 0;
  /* font-size: 2rem; */
}
